:root {
    --primary-color: #4f60ff;
    --text-color: #333;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
  
body {
    background-color: #f0f2f5;
}
  
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h2 {
    color: var(--text-color);
}
header {
    display: flex;
    width: 100%;
    height: 30vh;
}
.heading{
    margin: auto;
    text-align: center;
}
.heading h1 {
    color: var(--primary-color);
    font-size: 60px;
}
.heading h4 {
    color: var(--text-color);
}
.content__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
}
.content__items{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.content__item{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    margin: 0 12px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    /* border: 2px solid rgb(218, 218, 218); */
}
.content__item h2{
    padding-top: 12px;
    margin: auto;

}
.content__item h3{
    margin: auto;
    font-size: 30px;
}
.content__item--todayCases h3{
    color: rgb(255, 123, 123);
}
.content__item--deaths h3{
    color: rgb(133, 133, 133);
}
.content__item--recovered h3{
    color: rgb(54, 246, 70);
}
.content__item--active h3{
    color: rgb(255, 234, 43);
}
.content__all{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    margin: 0 12px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin: auto;
}
.content__all h2{
    margin: auto;
}
.content__all h3{
    font-size: 30px;
    margin: auto;
    color: rgb(37, 168, 255);
}
#footer{
    height: 20vh;
}
#copy_right{
    padding-top:3%;
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    color: var(--text-color);
    cursor: default;
}
#copy_right i{
    color: #ff2250;
}
#copy_right h3 {
    margin: auto;
}
#copy_right a{
    text-decoration: none;
    color: var(--primary-color);
}